@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 15px; /* ⬅️ perkecil font dasar */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
--background: #f9fafb; /* Tailwind gray-50 */
--foreground: #111827; /* Tailwind gray-900 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta-sans), sans-serif;
  font-size: 0.90rem; /* ⬅️ lebih kecil dari default 1rem */
}
